			* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:500px;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

 
        .image-container {
            text-align: center;
            margin: 40px auto;
            left: 620px; top: 30px;  
        }
        .image-container img {
            width: 200px;
            height: 200px;
            margin: 0 1%;
            border: 3px solid #3E9334;
            border-radius: 50%;
            top: 100px; left: 100px;
            position: absolute;
        }
        .content {
            text-align: center;
            padding: 25px;
        }
        .section {
            background-color: #C3CABD;
            padding: 25px;
            margin: 25px;
            border-radius: 12px;
            color: #4B0082;
        }


/* Estilos CSS para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para el contenido del footer */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para los botones de redes sociales */
.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

/* Estilos para los enlaces en el footer */
footer a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para los enlaces en el hover */
footer a:hover {
    text-decoration: underline;
}

/* Estilos CSS para los botones de men� */
.menu {
    display: flex;
}

.menu-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 10px;
}

.menu-button:last-child {
    margin-right: 0;
}

/* Estilos CSS para las im�genes */
.image-container {
    text-align: center;
}

.image {
    display: none;
}

.image.active {
    display: block;
}